target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/*.iml
/generator-core/generator-core.iml
/generator-core/target
/generator-ddl-parser-mysql/generator-ddl-parser-mysql.iml
/generator-ddl-parser-mysql/target
/generator-runtime/target
/generator-runtime/generator-runtime.iml
/generator-sample/generator-sample.iml
/generator-sample/target
/whale-generator-maven-plugin/whale-generator-maven-plugin.iml
/whale-generator-maven-plugin/target
/.idea
